n8n_flujo3.json
{"name":"ISL — Flujo 3: Recepcion de respuestas WhatsApp","nodes":[{"parameters":{"httpMethod":"POST","path":"isl-respuesta","responseMode":"responseNode","options":{}},"id":"w1","name":"Webhook Twilio","type":"n8n-nodes-base.webhook","typeVersion":2,"position":[240,300],"webhookId":"isl-respuesta"},{"parameters":{"method":"GET","url":"https://isl-cuestionarios-git-main-flordropus-projects.vercel.app/api/cases/find","sendHeaders":true,"headerParameters":{"parameters":[{"name":"Authorization","value":"Bearer isl-2026-florencia-secreta"}]},"sendQuery":true,"queryParameters":{"parameters":[{"name":"celular","value":"={{ $json.body.From }}"},{"name":"estado_not","value":"efectivo,no_respondio"}]},"options":{}},"id":"w2","name":"Buscar caso por celular","type":"n8n-nodes-base.httpRequest","typeVersion":4,"position":[460,300]},{"parameters":{"conditions":{"options":{"caseSensitive":false},"conditions":[{"id":"d1","leftValue":"={{ $json.found }}","rightValue":true,"operator":{"type":"boolean","operation":"true"}}],"combinator":"and"}},"id":"w3","name":"Existe el caso","type":"n8n-nodes-base.if","typeVersion":2,"position":[680,300]},{"parameters":{"method":"POST","url":"https://isl-cuestionarios-git-main-flordropus-projects.vercel.app/api/cases/respond","sendHeaders":true,"headerParameters":{"parameters":[{"name":"Content-Type","value":"application/json"},{"name":"Authorization","value":"Bearer isl-2026-florencia-secreta"}]},"sendBody":true,"bodyParameters":{"parameters":[{"name":"case_id","value":"={{ $('Buscar caso por celular').item.json.id }}"},{"name":"respuesta","value":"={{ $('Webhook Twilio').item.json.body.Body }}"},{"name":"respondido_en","value":"={{ new Date().toISOString() }}"},{"name":"estado","value":"efectivo"},{"name":"canal","value":"whatsapp"}]},"options":{}},"id":"w4","name":"Marcar Efectivo","type":"n8n-nodes-base.httpRequest","typeVersion":4,"position":[900,220]},{"parameters":{"respondWith":"text","responseBody":"<?xml version='1.0'?><Response></Response>","options":{"responseHeaders":{"entries":[{"name":"Content-Type","value":"text/xml"}]}}},"id":"w5","name":"Confirmar Twilio","type":"n8n-nodes-base.respondToWebhook","typeVersion":1,"position":[1120,220]}],"connections":{"Webhook Twilio":{"main":[[{"node":"Buscar caso por celular","type":"main","index":0}]]},"Buscar caso por celular":{"main":[[{"node":"Existe el caso","type":"main","index":0}]]},"Existe el caso":{"main":[[{"node":"Marcar Efectivo","type":"main","index":0}]]},"Marcar Efectivo":{"main":[[{"node":"Confirmar Twilio","type":"main","index":0}]]}},"settings":{"executionOrder":"v1"}}
