n8n_flujo2.json
{"name":"ISL — Flujo 2: Monitor de plazos y refuerzos","nodes":[{"parameters":{"rule":{"interval":[{"field":"hours","hoursInterval":1}]}},"id":"s1","name":"Cada 1 hora","type":"n8n-nodes-base.scheduleTrigger","typeVersion":1,"position":[240,300]},{"parameters":{"method":"GET","url":"https://isl-cuestionarios-git-main-flordropus-projects.vercel.app/api/cases/active","sendHeaders":true,"headerParameters":{"parameters":[{"name":"Authorization","value":"Bearer isl-2026-florencia-secreta"}]},"sendQuery":true,"queryParameters":{"parameters":[{"name":"estado_in","value":"pendiente,refuerzo1,refuerzo2"}]},"options":{}},"id":"s2","name":"Obtener casos activos","type":"n8n-nodes-base.httpRequest","typeVersion":4,"position":[460,300]},{"parameters":{"fieldToSplitOut":"cases","options":{}},"id":"s3","name":"Separar casos","type":"n8n-nodes-base.splitOut","typeVersion":1,"position":[680,300]},{"parameters":{"conditions":{"options":{"caseSensitive":false},"conditions":[{"id":"a1","leftValue":"={{ Math.floor((new Date()-new Date($json.fecha_envio))/3600000) }}","rightValue":72,"operator":{"type":"number","operation":"gte"}},{"id":"a2","leftValue":"={{ $json.estado }}","rightValue":"refuerzo2","operator":{"type":"string","operation":"equals"}}],"combinator":"and"}},"id":"s4","name":"Pasaron 72hs Cerrar","type":"n8n-nodes-base.if","typeVersion":2,"position":[900,160]},{"parameters":{"conditions":{"options":{"caseSensitive":false},"conditions":[{"id":"b1","leftValue":"={{ Math.floor((new Date()-new Date($json.fecha_envio))/3600000) }}","rightValue":48,"operator":{"type":"number","operation":"gte"}},{"id":"b2","leftValue":"={{ $json.estado }}","rightValue":"refuerzo1","operator":{"type":"string","operation":"equals"}}],"combinator":"and"}},"id":"s5","name":"Pasaron 48hs Refuerzo 2","type":"n8n-nodes-base.if","typeVersion":2,"position":[900,340]},{"parameters":{"conditions":{"options":{"caseSensitive":false},"conditions":[{"id":"c1","leftValue":"={{ Math.floor((new Date()-new Date($json.fecha_envio))/3600000) }}","rightValue":24,"operator":{"type":"number","operation":"gte"}},{"id":"c2","leftValue":"={{ $json.estado }}","rightValue":"pendiente","operator":{"type":"string","operation":"equals"}}],"combinator":"and"}},"id":"s6","name":"Pasaron 24hs Refuerzo 1","type":"n8n-nodes-base.if","typeVersion":2,"position":[900,520]},{"parameters":{"method":"PATCH","url":"https://isl-cuestionarios-git-main-flordropus-projects.vercel.app/api/cases/update","sendHeaders":true,"headerParameters":{"parameters":[{"name":"Content-Type","value":"application/json"},{"name":"Authorization","value":"Bearer isl-2026-florencia-secreta"}]},"sendBody":true,"bodyParameters":{"parameters":[{"name":"id","value":"={{ $json.id }}"},{"name":"estado","value":"no_respondio"},{"name":"cerrado_en","value":"={{ new Date().toISOString() }}"}]},"options":{}},"id":"s7","name":"Cerrar No respondio","type":"n8n-nodes-base.httpRequest","typeVersion":4,"position":[1140,160]},{"parameters":{"method":"PATCH","url":"https://isl-cuestionarios-git-main-flordropus-projects.vercel.app/api/cases/update","sendHeaders":true,"headerParameters":{"parameters":[{"name":"Content-Type","value":"application/json"},{"name":"Authorization","value":"Bearer isl-2026-florencia-secreta"}]},"sendBody":true,"bodyParameters":{"parameters":[{"name":"id","value":"={{ $json.id }}"},{"name":"estado","value":"refuerzo2"},{"name":"refuerzo2_en","value":"={{ new Date().toISOString() }}"}]},"options":{}},"id":"s8","name":"Cambiar a Refuerzo 2","type":"n8n-nodes-base.httpRequest","typeVersion":4,"position":[1140,340]},{"parameters":{"method":"PATCH","url":"https://isl-cuestionarios-git-main-flordropus-projects.vercel.app/api/cases/update","sendHeaders":true,"headerParameters":{"parameters":[{"name":"Content-Type","value":"application/json"},{"name":"Authorization","value":"Bearer isl-2026-florencia-secreta"}]},"sendBody":true,"bodyParameters":{"parameters":[{"name":"id","value":"={{ $json.id }}"},{"name":"estado","value":"refuerzo1"},{"name":"refuerzo1_en","value":"={{ new Date().toISOString() }}"}]},"options":{}},"id":"s9","name":"Cambiar a Refuerzo 1","type":"n8n-nodes-base.httpRequest","typeVersion":4,"position":[1140,520]}],"connections":{"Cada 1 hora":{"main":[[{"node":"Obtener casos activos","type":"main","index":0}]]},"Obtener casos activos":{"main":[[{"node":"Separar casos","type":"main","index":0}]]},"Separar casos":{"main":[[{"node":"Pasaron 72hs Cerrar","type":"main","index":0}],[{"node":"Pasaron 48hs Refuerzo 2","type":"main","index":0}],[{"node":"Pasaron 24hs Refuerzo 1","type":"main","index":0}]]},"Pasaron 72hs Cerrar":{"main":[[{"node":"Cerrar No respondio","type":"main","index":0}]]},"Pasaron 48hs Refuerzo 2":{"main":[[{"node":"Cambiar a Refuerzo 2","type":"main","index":0}]]},"Pasaron 24hs Refuerzo 1":{"main":[[{"node":"Cambiar a Refuerzo 1","type":"main","index":0}]]}},"settings":{"executionOrder":"v1","timezone":"America/Buenos_Aires"}}
